@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Cantarell:wght@400;700&display=swap');

/* Set Cantarell for body text */
body {
    font-family: 'Cantarell', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set Fjalla One for headings */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
    margin: 0;
  }

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-grow {
  flex-grow: 1;
}
